name: CI

on:
  pull_request:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ci-${{ github.ref }}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          check-latest: true

      - name: Lint Populator
        run: |
          cd populator
          make lint

      - name: Install Java
        uses: actions/setup-java@v5
        with:
          check-latest: true
          distribution: liberica
          java-version: 25

      - name: Install dependencies
        run: ./mvnw clean install -Dmaven.test.skip=true

      - name: Run tests
        run: ./mvnw clean test
